/* 캘린더 전체 박스 */
.react-calendar {
border:none;
width:400px;
}
/* 년, 달 */
.react-calendar__navigation	{
  margin-top:30px;
  display:flex;
  justify-content: center;
  height: 40px;
  gap:2px;

}
.react-calendar__navigation button{
  min-width:0px;
  height: 100%; 
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
}

.react-calendar__navigation__arrow{
  padding:0;
  width:20px;
  height:20px;
  font-size: 30px;
  margin-top: -20px;
}
.react-calendar__navigation__label{
  padding:0px 20px; 
  min-width:0px;
  min-height: 0px;
  height:20px;
  flex-grow: 0 !important;
  color:rgb(54, 54, 54);
  font-size: 20px !important;;
}

/* 선택된 날짜 */
.react-calendar__tile--active {
  background: rgb(189,176,133,0.44) !important;
  color:black;

}

/* 오늘 날짜 */
.react-calendar__tile--now {
  background-color:white;
}

/* 주말 색 */
.react-calendar__month-view__days__day--weekend {
  color: black;
}

/* 이전/다음 달 날짜 */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #ccc;
}
/* 요일 */
.react-calendar__month-view__weekdays__weekday abbr{
  text-decoration: none;
  color:rgb(63, 63, 63);

}

.react-calendar__month-view__days{
  border-top: 1px solid rgb(241, 241, 241);
  border-left:1px solid rgb(241, 241, 241);
  margin:5px;
}
.react-calendar__tile{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height:40px;
  position: relative;
}					
.react-calendar__tile.react-calendar__month-view__days__day{
  padding:0px 0px 0px 2px;
  border-bottom:1px solid rgb(241, 241, 241);
  border-right: 1px solid rgb(241, 241, 241);
}


/* 각 날짜 글씨*/
.react-calendar__tile abbr{
  font-size:10px;
}

.react-calendar__tile.react-calendar__tile--now.react-calendar__tile--hasActive.react-calendar__year-view__months__month {
  background-color: rgba(231, 192, 62, 0.44) !important;
}
.react-calendar__tile.react-calendar__tile--now.react-calendar__tile--hasActive.react-calendar__decade-view__years__year{
  background-color: rgba(231, 192, 62, 0.44) !important;
}
.react-calendar__tile.react-calendar__tile--now.react-calendar__tile--hasActive.react-calendar__century-view__decades__decade{
  background-color: rgba(231, 192, 62, 0.44) !important;
}


/* 전체 감싸는 vertical wrapper (2줄) */
.dot-wrapper-vertical {
  position: absolute;
  bottom: 4px;
  left: 3px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* 한 줄 dot 라인 */
.dot-line {
  display: flex;
  gap: 2px;
  align-items: center;
  height: 10px;
}

/* 공통 점 스타일 */
.log-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  
}

/* 동물 점 색상 */
.animal-dot {
  background-color: #ffb347;
}

/* 식물 점 색상 */
.plant-dot {
  background-color: #2E501C;
}

/* "+N" 텍스트 */
.dot-count {
  display: flex;
  align-items: center;
  height: 8px;
  font-size: 8px;
  color: #888;
  margin-top:2px;
}
/* .log-list{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

} */

.log-list {
  display: flex;
  position: relative;
  margin-bottom: 15px;
  padding: 0 10px;
  
}

.log-icon{
  display: flex;
 z-index: 1;
}
.log-content{
  margin-left: -30px;
  background-color: #e7e4db5b;
  width:300px;
  height:30px;

  border-radius: 10px;
  align-items: center;
  padding:5px 12px;
}


.log-icon-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
/* 아래로 선 */
.log-icon-wrap.bottom-line::before {
  content: '';
  position: absolute;
  bottom: -37px;
  left: -50%;
  transform: translateX(-50%);
  width: 4px;
  height: 39px;
  background-color: #8b7513;
  z-index: 0;
}
/* 위로 선 */
.log-icon-wrap.top-line::before {
  content: '';
  position: absolute;
  top: -27px;
  left: -50%;
  transform: translateX(-50%);
  width: 4px;
  height: 40px;
  background-color: #8b7513; /* 브라운 */
  z-index: 0;
}

